.block_page {
    padding: 1rem; /* instead of 2rem */
    padding-top: 0;
}

.section .aside, .section .section__body {
    padding: 2rem; /* instead of 3rem */
}

.activities .container .activities_cont {
    width: 49%;
}

.activities .container .activities__col {
    width: 48%;
}

.activities .activities__col:nth-child(4) .activities__col__elt:nth-child(1) {
    height: calc(50% - 1.5rem);
    margin-bottom: 1.5rem;
}

.activities .activities__col:nth-child(2) .activities__col__elt:nth-child(1) {
    height: calc(55% - 1.5rem);
    margin-bottom: 1.5rem;
}