


.block_page {
    padding: 0;
    /* background-color: red; */
}

.header {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
}

.header .header__nav {
    width: 100%;
}

.header .header__nav li {
    width: 50%;
}

.header .header__nav a {
    display: block;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    font-size: 1.75rem;
    border-bottom: solid 3px #eee;
}

.header__nav ul li a:active, .header__nav ul li a:hover, .header__nav ul li a:focus{
    color: var(--color-blue);
    border-top: none;
    border-bottom: solid 3px var(--color-blue);
}

.header .btn-subscribe {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.75rem;
    font-family: var(--family-raleway);
    font-weight: var(--weight-semi-bold);
}

.filters {
    flex-direction: column;
    align-items: flex-start;
    
}

.filters h3 {
    margin-bottom: 1rem;
}

.info {
    margin-right: 1rem;
}


.main h1 {
    font-size: 2.5rem;
    font-weight: var(--weight-semi-bold);
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.main h2 {
    margin-bottom: 4rem;
}

.main .container input[type="submit"] {
    display: none;
}

.main .icon_search {
    display: block;
    background-color: var(--color-blue);
    width: 4.5rem;
    height: 4rem;
    padding: 1rem;
    border-radius: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main .icon_search i {
    font-size: 1.5rem;
    color: white;
}

.wrapper__container:nth-child(2) .container__checkbox {
    margin-bottom: 1rem;
}


.section {
    flex-direction: column-reverse;
    align-items: center;
}

.aside {
    height: 80rem;
}

.aside ul {
    width: 100%;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside ul .lodging {
    width: 100%;
    flex: 1;
    flex-direction: row;
    border-radius: 2.5rem;
}

.aside ul .lodging .lodging__image {
    width: 100%;
    height: auto;
    border-radius: 2rem 0 0 2rem;
    margin-bottom: 0;
}

.aside .lodging .container {
    height: 100%;
    padding: 3rem;
}

.aside .lodging .container h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.aside .lodging .container p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.aside .stars i {
    font-size: 1.5rem;;
}

.section h4 {
    font-size: 2.25rem;
}

.section .section__body {
    background-color: white;
    margin-bottom: 0;
}

.section .section__body .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section .section__body .lodging {
    height: 22rem;
    width: 100%;
    margin-bottom: 1.5rem;
    box-shadow: 0px 0.25rem 0.5rem #ddd;
    padding: .5rem;
    border-radius: 2.5rem;
}

.container .lodging .lodging__image {
    border-radius: 2rem 2rem 0 0;
}

.main .activities .container, .main .section .container {
    margin-left: 0;
}

.section__body .lodging h3 {
    font-family: var(--family-raleway);
    font-size: 1.75rem;
    margin-bottom: .75rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

.section__body .lodging p {
    font-family: var(--family-raleway);
    font-size: 1.5rem;
    margin-bottom: .75rem;
    margin-left: 2rem;
}

.section__body .lodging .stars {
    margin-left: 2rem;
}

.section__body .lodging .stars i {
    color: var(--color-blue);
    font-size: 1.5rem;
}

.activities {
    padding-top: 0;
    width: 100%;
}

.activities .container .activities_cont {
    width: 100%;
    height: 70rem;
    flex-direction: column;
}

.activities .container .activities__col:nth-child(1), .activities .container .activities__col:nth-child(3) {
    flex: 1;
    width: 96%;
}

.activities .container .activities__col:nth-child(2), .activities .container .activities__col:nth-child(4) {
    flex: 2;
    width: 96%;
    display: flex;
    flex-direction: column;
}

.activities .container .activities__col .img {
    height: calc(100% - 3rem);
}

.activities .activities__col__elt h3 {
    font-size: 1.5rem;
}

.activities .activities__col__elt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    box-shadow: 0px 0.25rem 0.5rem #ddd;
    border-radius: 2.5rem;
}

.activities .activities__col__elt .img {
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

.footer {
    width: 100%;
    padding: 2rem;
}

.footer-80 {
    width: 90%;
    flex-direction: column;
    justify-content: space-between;
}

.footer-80 .column {
    margin-bottom: 3rem;;
}

.footer-80 h2{
    font-size: 1.75rem;
}

ul {
    font-family: var(--family-raleway);
    font-size: 1.5rem;
}
