
.block_page {
    padding: 0;
}

.section .aside, .section .section__body {
    padding: 1.5rem;
}

.header {
    width: 100%;
    padding: 1rem;
}

.main {
    width: 100%;
}

.main h1, .main h2, .main .container, .filters, .info {
    margin-left: 2rem;
}

.section {
    flex-direction: column;
}

.section .section__body {
    margin-bottom: 2rem;
}

.section .aside, .section .section__body {
    width: 100%;
    border-radius: 0;
}

.section .section__body .lodging {
    width: 32%;
}

.aside__header i {
    font-size: 2rem;
}

.aside ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.aside ul .lodging {
    flex: 1;
    height: 10rem;
    margin: 1rem;
    background-color: white;
    margin-bottom: 1.25rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    height: 21rem;
    padding: .5rem;
}

.aside .container {
    height: 40%;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 1rem;
}

.aside li .container p {
    font-size: 1.25rem;
    margin-bottom: 5%;
}

.activities {
    width: 96%;
}

.lodging h3 {
    margin-left: 0;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.aside .lodging .lodging__image {
    width: 100%;
}

.aside .container {
    width: 100%;
    padding-left: 0rem;
    margin-left: .5rem;
}

.activities .container {
    flex-direction: column;
}

.activities .container .activities__col {
    height: 20rem;
}

.activities .container .activities_cont {
    width: 100%;
    flex-direction: row;
}

.activities .activities__col:nth-child(1) {
    flex: 1;
    margin: 1rem;
}

.main .activities .activities__col:nth-child(2) {
    flex: 2;
    flex-direction: row;
}

.main .activities .activities__col:nth-child(2) .activities__col__elt {
    height: 100%;
    margin: 1rem;
}

.activities .activities__col:nth-child(2) .activities__col__elt:nth-child(1) {
    height: 100%;
}