:root {
    --color-blue:  #0065FC;
    --color-light-blue:  #DEEBFF;
    --color-grey: #F2F2F2;
    --color-dark-grey:  rgb(217, 217, 217);

    --family-raleway: 'Raleway', 'sans-serif';

    --weight-regular: 400;
    --weight-semi-bold: 600;
}

*, *:after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
}

body {
    background-color: white;
    width: 100vw;
}

li {
    list-style-type: none;
}

a, a:visited {
    text-decoration: none;
    color: inherit;
    outline: none;
}

.color-blue {
    color: var(--color-blue);
}

.color-grey {
    color: var(--color-dark-grey);
}

.block_page {
    width: 100vw;
    max-width: 1200px;
    margin: auto;
    background-color: inherit;
    padding: 2rem;
    padding-top: 0;
    font-family: var(--family-raleway);
}

/********************
 *     HEADER       *
 ********************/

.header {
    width: 90%;
    margin: auto;
    margin-top:3px;
    display: flex;
    align-items: center;
    position: relative;
}

.header__logo {
    flex: 3;
}   

.header__nav {
    flex: 1.75;
}

.header__nav ul {
    display: flex;
    align-items: center;
}

.header__nav li {
    display: block;
}

.header__nav ul li a {
    color: black;
    margin-left: 4rem;
    font-size: 1.5rem;
    padding: 2rem 1rem;
}

.header__nav ul li a:active, .header__nav ul li a:hover, .header__nav ul li a:focus{
    color: var(--color-blue);
    border-top: solid 2px var(--color-blue);
}

.header .btn {
    display: block;
    padding: 2rem 1rem;

}

.header .btn-subscribe {
    font-size: 1.5rem;
    font-weight: var(--weight-semi-bold);
    color: var(--color-blue);
}

/********************
 *      MAIN        *
 ********************/
 
.main {
    width: 90%;
    margin: 0rem auto;
}

.wrapper  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.wrapper .wrapper__container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 1rem;
}

.main h1 {
    font-weight: var(--weight-semi-bold);
    margin-bottom: .75rem;
}

.main h2 {
    font-weight: var(--weight-semi-bold);
    margin-bottom: 1.25rem;
}

.main .container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.main .container input[type="submit"] {
    background-color: var(--color-blue);
    padding: 1rem 1.5rem;
    outline: none;
    border: solid 1px var(--color-blue);
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: white;
    font-weight: var(--weight-semi-bold);
    font-size: 1.5rem;
    cursor: pointer;
}

.main .container input[type="search"] {
    background-color: white;
    padding: 1rem 1.5rem;
    outline: none;
    border: none;
    border-top: 1px solid var(--color-grey);
    border-bottom: 1px solid var(--color-grey);
    font-weight: var(--weight-semi-bold);
    font-size: 1.5rem;
    position: relative;
    
}

.main .container .container__icon {
    background-color: var(--color-grey);
    border: 1px solid var(--color-grey);
    content: "";
    width: 4.5rem;
    height: 4rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.icon_search {
    display: none;
}

/********************
 *     FILTER       *
 ********************/

.filters {
    display: flex;
    margin-bottom: 1.5rem;
    align-items: center;
}

.filters h3 {
    font-size: 1.75rem;
    margin-right: 3rem;
}

.container__checkbox {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.container__checkbox>label {
    margin-left: -3.25rem;
    border: 2px solid var(--color-dark-grey);
    border-radius: 2rem;
    position: relative;
    font-size: 1.5rem;
    text-transform: capitalize;
    padding: .75rem 1.5rem .75rem 3.5rem;
    z-index: 2;
}

.container__checkbox:hover>i{
    color: var(--color-light-blue);
    background-color: var(--color-blue);
    transform: scale(1.1);
    transition: all 0.25s;
}

.container__checkbox:hover>label {
    font-weight: bold;
}

.container__checkbox>input[type="checkbox"] {
    display: none;
}

.container__checkbox>i {
    padding: 1.1rem 0.8rem;
    font-size: 1.5rem;
    background-color: var(--color-light-blue);
    border-radius: 50%;
    z-index: 3;
}

.container__checkbox i:nth-child(1) {
    padding: 1.1rem .75rem;
}

.container__checkbox i:nth-child(2) {
    padding: 1.1rem 1.35rem;
}

/********************
 *      INFO        *
 ********************/

.info {
    display: flex;
    align-items: center;
    margin-bottom: 1.75rem;
}

.info i {
    padding: 0.5rem .9rem;
    border-radius: 100%;
    border: 1px var(--color-dark-grey) solid;
}

.item {
    margin-left: 1rem;
    font-size: 1.5rem;
    font-weight: var(--weight-regular);
}

/********************
 *     SECTION      *
 ********************/

.section {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.section h2 {
    font-size: 1.75rem;
    margin-bottom: 1.5rem;
}

.section .section__body {
    width: 64%;
    background-color: var(--color-grey);
    padding: 3rem;
    border-radius: 2rem;
}

section .section__body .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: space-between;
    flex-wrap: wrap;
}

section .section__body .lodging {
    background-color: white;
    padding: 0.5rem;
    border-radius: 1.25rem;
    height: 17rem;
    width: 31%;
    margin-bottom: 1.5rem;
}

.lodging h3 {
    font-weight: var(--weight-semi-bold);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: .75rem;
}

.lodging p {
    font-size: 1rem;
    margin-bottom: .75rem;
}

.section h4 {
    font-size: 1.25rem;
    margin-left: 1rem;
    margin-bottom: .75rem;
}


.section__body .lodging .lodging__image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    height: 60%;
    content: '';
    background-image: url('../assets/img/hebergements/4_small/cannebiere.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section__body .lodging:nth-child(2) .lodging__image {
    background-image: url('../assets/img/hebergements/4_small/hotel_port.jpg');
}

.section__body .lodging:nth-child(3) .lodging__image {
    background-image: url('../assets/img/hebergements/4_small/hotel_mouettes.jpg');
}

.section__body .lodging:nth-child(4) .lodging__image {
    background-image: url('../assets/img/hebergements/4_small/hotel_de_la_mer.jpg');
}

.section__body .lodging:nth-child(5) .lodging__image {
    background-image: url('../assets/img/hebergements/4_small/hotel_le_panier.jpg');
}

.section__body .lodging:nth-child(6) .lodging__image {
    background-image: url('../assets/img/hebergements/4_small/hotel_chez_amina.jpg');
}

/********************
 *      ASIDE       *
 ********************/

.aside {
    width: 33%;
    background-color: var(--color-grey);
    border-radius: 2rem;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.aside__header {
    width: 98%;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aside__header h1 {
    margin-bottom: 0;
}

.aside__header i {
    font-size: 1.5rem;
}

.aside ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    flex: 1;
}

.aside ul .lodging {
    width: 100%;
    background-color: white;
    margin-bottom: 1.25rem;
    border-radius: 1rem;
    display: flex;
    height: 11rem;
    padding: .5rem;
}

.aside .lodging .lodging__image {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    width: 40%;
    height: 100%;
    content: '';
    background-image: url('../assets/img/hebergements/4_small/soleil_du_matin.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.aside .lodging:nth-child(2) .lodging__image {
    background-image: url('../assets/img/hebergements/4_small/chambre_d_hotes.jpg');
}

.aside .lodging:nth-child(3) .lodging__image {
    background-image: url('../assets/img/hebergements/4_small/hotel_tout_bleu_tout_blanc.jpg');
}

.aside .container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 1rem;
}

.aside li .container h2 {
    font-size: 1.5rem;
}

.aside li .container p {
    font-size: 1.25rem;
    margin-bottom: 15%;
}

.stars {
    font-size: 1.25rem;
}

/********************
 *   ACTIVITIES     *
 ********************/

.activities {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
}

.activities h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.activities .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.activities .container .activities_cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 48.5%;
}

.activities .container .activities__col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 47%;
    height: 30rem;
}

.activities .activities__col__elt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    box-shadow: 0px 0.25rem 0.5rem #ddd;
    border-radius: 1rem;
}

.activities_cont:nth-child(1) .activities__col:nth-child(2) .activities__col__elt:nth-child(1) {
    height: calc(57% - 1.5rem);
    margin-bottom: 3rem;
}

.activities_cont:nth-child(1) .activities__col:nth-child(2) .activities__col__elt:nth-child(2) {
    height: calc(43% - 1.5rem);
}

.activities_cont:nth-child(2) .activities__col:nth-child(2) .activities__col__elt:nth-child(1) {
    height: calc(50% - 1.5rem);
    margin-bottom: 3rem;
}

.activities_cont:nth-child(2) .activities__col:nth-child(2) .activities__col__elt:nth-child(2) {
    height: calc(50% - 1.5rem);
}

.activities .activities__col__elt h3 {
    width: 90%;
    font-size: 1.25rem;
    height: 3rem;
    margin: 1.5rem 0 1rem 2rem;
}

.activities .activities__col__elt .img {
    width: 100%;
    height: calc(100% - 3rem);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-image: url('../assets/img/activites/4_small/vieux_port.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.activities .activities__col__elt .vieux-port {
    background-image: url('../assets/img/activites/4_small/vieux_port.jpg');
}

.activities .activities__col__elt .pommegues {
    background-image: url('../assets/img/activites/4_small/pommegues.jpg');
}

.activities .activities__col__elt .frioul {
    background-image: url('../assets/img/activites/4_small/frioul.jpg');
}

.activities .activities__col__elt .calanques {
    background-image: url('../assets/img/activites/4_small/calanques.jpg');
}

.activities .activities__col__elt .garde {
    background-image: url('../assets/img/activites/4_small/garde.jpg');
}

.activities .activities__col__elt .longchamp {
    background-image: url('../assets/img/activites/4_small/longchamp.jpg');
}

/********************
 *     FOOTER       *
 ********************/

.footer {
    margin: 0 auto;
    padding: 3rem 0;
    width: 100%;
    background-color: var(--color-grey);
    padding: 3rem 0;
}

.footer-80 {
    margin-left: 5%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    
}

.footer-80 h2{
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.footer ul {
    font-size: 1.25rem;
}

.footer ul li {
    margin-bottom: 1rem;
}

.link-image {
    display: block;
    width: 100%;
    height: 100%;
}

.img-container {
    width: 100vw;
    height: 100vh;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zoom-img {
    display: block;
    width: 100vw;
    max-width: 100rem;
    height: auto;
}